@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header {
    margin: 1rem;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
body {
    font-family: Roboto, sans-serif;
    color:darkslategray;
    background-color: rgb(247, 239, 227);
}
nav {
  height: 3rem;
  background-color: #f6d9bc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}
h1 {
    font-size: 2rem;
    color: #696969;
}
h2 {
    font-size: 1.5rem;
    color: rgb(100,100,100);
}
a {
    padding: 0.25rem;
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    background-color: rgb(253, 223, 184);
    transition: font-weight 1s ease-in 1s;
}
a:active {
    text-decoration: underline;
}
p {
    margin: 1rem;
}
.job_title {
  font-weight: bold;
  color: #7b3101;
}
table, th, td {
    border: 1px solid;
    border-color: #563c23;
    border-collapse: collapse;
    padding: 2px;
    width: 50%;
}
tr:nth-child(odd) {
  background-color: rgb(253, 223, 184);
}
td:hover {
  font-weight: bold;
  transition: font-weight 1s ease-in 1s;
}
