header {
    margin: 1rem;
    text-align: center;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategray;
    background-color: rgb(247, 239, 227);
}
h1 {
    font-size: 2rem;
    color: #696969;
}
h2 {
    font-size: 1.5rem;
    color: rgb(100,100,100);
}
a {
    padding: 0.5rem;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: red;
}
a:hover {
    font-weight: bold;
    background-color: rgb(253, 223, 184);
}
a:active {
    text-decoration: underline;
}
p {
    margin: 1rem;
}
.job_title {
  font-weight: bold;
  color: #7b3101;
}
table {
    border-style: solid;
    border-color: #563c23;
    border-spacing: 0px;
}
tr td {
    border-style: solid;
    border-color: #ae8157;
    padding: 2px;
}
